<h1>Contact:  </h1>
<h2><%= @contact['first'] %>, <%= @contact['last'] %></h2>
<li>Gender :
  <%= @contact['gender'] %>
</li>

<li>Down to get down :
  <%= @contact['dtgt'] %>
</li>

<li>Phone  #
  <%= @contact['phone'] %>
</li>
<form action="/contacts/delete" method="post">
</br>
  <button>Delete Contact</button>
</br>

