<h1>Contact:  </h1>
<h2><%= @contact['first'] %>, <%= @contact['last'] %></h2>
<li>Gender :
  <%= @contact['gender'] %>
</li>

<li>Down to get down :
  <%= @contact['dtgd'] %>
</li>

<li>Phone  #
  <%= @contact['phone'] %>
</li>

